body{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  background: #1c1c1c;
  color: #C0C0C0;
}

div.navigator{
  margin: 30px 0px;
}
div.search{
  margin-top: 2px;
  float:right;
}
/*EASYAUTOCOMPLETE*/

.easy-autocomplete.eac-ars {
  font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.easy-autocomplete.eac-ars input {
  border: thin solid #666;
  border-radius: 0;
  color: #999;
  background: #222;
  font-family: inherit;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  min-width: 200px;
  padding: 5px 5px 5px 5px;
  text-align: right;
}
.easy-autocomplete.eac-ars ul {
  border-color: #7f8c8d;
  border-top: 0;
  box-shadow: none;
  top: 0;
}
.easy-autocomplete.eac-ars ul li, .easy-autocomplete.eac-ars ul .eac-category {
  border-color: #7f8c8d;
  font-family: inherit;
  font-size: 12px;
  font-weight: 200;
  padding: 6px 12px;
  transition: all 0.4s ease 0s;
  background-color: #333;
  color:#888;
  text-align: right;
}
.easy-autocomplete.eac-ars ul li *, .easy-autocomplete.eac-ars ul .eac-category * {
  font-weight: 300;

}
.easy-autocomplete.eac-ars ul li.selected, .easy-autocomplete.eac-ars ul .eac-category.selected {
  background-color: #222;
  font-weight: 300;
}
.easy-autocomplete.eac-ars ul li b, .easy-autocomplete.eac-ars ul .eac-category b {
  font-weight: 600;
  color: #888;
}

.navigator h1{
  color: #EEE;
  font-weight: 200;
  margin: 0em 0em 0em 1em;
  width: 300px;
  display:inline-block;
}
.subtitle{
  margin-left: 2em;
}
.art-title{
  margin-bottom: 12px;
}
#title{
  font-weight:200;
  color:#EEE;
  font-size: 1.8em;
  margin-bottom: 40px;
}
#prizes{
  font-weight:100;
  margin-left: 1em;
}
.container{
  width:960px;
  margin: 0 auto;
}
#closest{
  display:none;
}

.infobox{
  height:180px;
}
.infobox h3{
  margin: 5px 0;
}
.imgbox{
 float:left;
 width: 100px;
 margin: 0 10px 0 0;
 height: 180px;
}

#catalog_text, footer{
  font-weight: 300;
  font-size: .86em;
  line-height: 1.25em;
}
.project_desc{
  margin-left: 3em;
  font-weight: 300;
  font-size: .9em;
  line-height: 1.5em;
}

#catalog_text a, footer a{
  color:white;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
}
footer{
  float: right;
  font-size: 0.6em;
}
#artworkimage{
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

#closest{
    width:100%;
    text-align:center;
}
#svgview{
 border: black;
 background: #1c1c1c;
 margin: 0;
}
text{
  fill:#FFF;
  shape-rendering:crispEdges;
}
.axis path,
.axis line
{
  shape-rendering:crispEdges;
  stroke: #FFF;

}

.net{
  fill: #DA2C38;
}
.interactive_art{
  fill: #FF6F3C;
}
.hybrid_art{
  fill: #FF9A3C;
}
.net_vision{
  fill:#E8295B;
}
.starts_prize{
  fill:#FFCC00;
}
.disabled{
  /*fill:#EEE;*/
  opacity: 0.65;
}

.axis text {
  font: 10px sans-serif;
}
/*celulas de voronoi*/
.cells path {
  fill: none;
  /*stroke: black;
  stroke-width: 0.25;*/
  pointer-events: all;
}
circle:hover  {
  stroke: #AAA;
  stroke-width: 2px;
}

circle.disabled:hover {
  fill:#EEE;
  stroke: #AAA;
}
circle.selected {
  /*fill:red;*/
  stroke: #AAA;
  stroke-width: 2px;
}


svg{
  margin: 0px 20px;
}



.tooltip {

  text-align: center;
  text-anchor: middle;
  font-size: 12px ;
  pointer-events: none;
}

.line{
    stroke:black;
    fill: none;
}
#artworkimage{
  heigh:200px;
}
