body{
  font-family: 'Lato', sans-serif;
  background: #1c1c1c;
  color: #C0C0C0;
}

h1,h3{
  color: #EEE;
}

.container{
  width:960px;
  margin: 0 auto;
}
#closest{
  display:none;
}

.infobox{
  height:150px;
}
.infobox h3{
  margin: 5px 0;
}
.imgbox{
 float:left;
 width: 100px;
 margin: 0 10px 0 0;
 height: 150px;
}

#catalog_text{
  font-size: .86em;
}
#catalog_text a{
  color:white;
  font-style: italic;
}

#artworkimage{
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

#closest{
    width:100%;
    text-align:center;
}
#svgview{
 border: black;
 background: #1c1c1c;
 margin: 0;
}
text{
  fill:#FFF;
  shape-rendering:crispEdges;
}
.axis path,
.axis line
{
  shape-rendering:crispEdges;
  stroke: #FFF;
  
}

.net{
  fill: #DA2C38;
}
.interactive_art{
  fill: #FF6F3C;
}
.hybrid_art{
  fill: #FF9A3C;
}
.net_vision{
  fill:#E8295B;
}
.starts_prize{
  fill:#FFCC00;
}
.disabled{
  /*fill:#EEE;*/
  opacity: 0.65;
}

.axis text {
  font: 10px sans-serif;
}
/*celulas de voronoi*/
.cells path {
  fill: none;
  /*stroke: black;
  stroke-width: 0.25;*/
  pointer-events: all;
}
circle:hover  {
  stroke: #AAA;
  stroke-width: 2px;
}

circle.disabled:hover {
  fill:#EEE;
  stroke: #AAA;
}
circle.selected {
  /*fill:red;*/
  stroke: #AAA;
  stroke-width: 2px;
}


svg{
  margin: 0px 20px;
}



.tooltip {
  
  text-align: center;
  text-anchor: middle;
  font-size: 12px ;
  pointer-events: none;
}

.line{
    stroke:black;
    fill: none;
}
#artworkimage{
  heigh:200px;
}
